<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/mainStyles.css}">

    <meta charset="UTF-8">
    <title>Strona startowa</title>
</head>
<body>
<nav>
    <div class="logo">ZenSpace</div>
    <ul>
        <li><a href="http://localhost:8080/">Home</a></li>
        <li><a href="http://localhost:8080/viewDocs">Pliki</a></li>
    </ul>
</nav>

<main class="main-content">
    <div class="card-grid">
        <div class="card">
            <h3>Minimalizm</h3>
            <p>Mniej znaczy więcej. Skupiamy się na treści, odcinając zbędne dystraktory.</p>
        </div>
    </div>
    <form method="POST" action="/files/upload" enctype="multipart/form-data">
        <input type="file" name="file"/>
        <button type="submit">Upload</button>
    </form>
</main>
</body>
</html>