<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Preview</title>
    <link rel="stylesheet" th:href="@{/css/mainStyles.css}">
    <style>
        a:link {
            color: #00e5ff;
        }
        a:visited {
            color: #ff5757;
        }
        a:hover {
            color: #f1aa00;
        }
        code {
            background-color: #807c7c;
            padding: 2px 4px;
            border-radius: 4px;
        }
        pre {
        background-color: #807c7c;
            padding: 2px 4px;
            border-radius: 4px;}
    </style>
</head>
<body>

<div class="markdown-body" th:utext="${html}"></div>

</body>
</html>